
@media screen and (max-width: 800px) {
    #slide {
        width: 100%;
    }
}

.myvideo {
  text-decoration: none;
  color: #fff;
  background: red;
  text-align: center;
  padding: 10px;
  font-weight: 600;
  z-index:100;
  position: absolute;
  bottom: 20px;
}
.myvideo:hover {
  color: #000;
}
#slide{
  margin: auto;
  display: block;
  width: 100%;
}
